<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=BatteryPlus;integratedSecurity=false;encrypt=true;trustServerCertificate=true</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">sql</property>
    <property name="dialect">org.hibernate.dialect.SQLServer2012Dialect</property>

    <property name="hibernate.connection.pool_size">100</property>
    <property name="show_sql">true</property>

    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.addresses.Country" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.addresses.City" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.addresses.Municipality" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.addresses.Location" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.addresses.Colony" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.addresses.Street" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.addresses.Address" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.catalogs.Client" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.catalogs.Person" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.catalogs.Telephone" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.catalogs.CommercialBranch" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.catalogs.Warehouse" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.catalogs.WarehouseSection" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.oauth.User" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.oauth.Rol" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.CoverageType" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.CoverageBciBase" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.CoverageBrand" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.CoverageSubBrand" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.Agrupation" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.Line" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.Brand" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.SubBrand" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.BciBase" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.BciUsed" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.BciWarranty" />
    <mapping class="com.bayonasoftware.batteryplus.api.microservices.utils.models.entities.accumulators.Accumulator" />

  </session-factory>
</hibernate-configuration>
